[submodule "docs/shared"]
	path = docs/shared
	url = https://github.com/dbertona/power-solution-docs.git
[submodule "Power_Solution_BC/docs/shared"]
	path = Power_Solution_BC/docs/shared
	url = https://github.com/dbertona/power-solution-docs.git
