# Configuración para Supabase Local
VITE_SUPABASE_URL=http://192.168.88.68:8000
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzU4Nzg0Mzk1LCJleHAiOjE5MTY0NjQzOTV9.O5zhmVObajk-c5HAcgtlt02l2x_Jhg_MU6b4MKN8jOo

# Variables del backend
SUPABASE_PROJECT_URL=http://192.168.88.68:8000
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzU4Nzg0Mzk1LCJleHAiOjE5MTY0NjQzOTV9.O5zhmVObajk-c5HAcgtlt02l2x_Jhg_MU6b4MKN8jOo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJpYXQiOjE3NTg3ODQzOTUsImV4cCI6MTkxNjQ2NDM5NX0.CF7khUW5nicbMIeoACR-h1yF4O743oiFC0_DLOGsmi8

# Puerto del backend
PORT=3001

# Configuración de n8n (opcional para local)
N8N_WEBHOOK_NOTIFY_APPROVAL=



